@import "tailwindcss";

@plugin "daisyui";

@theme {
  --color-green : #C2F800;
  --color-dark : #15171D;
  --color-cardStrock : #222630;
  --color-navStrock : #1C1F26;
  --color-gray : #D1D5DB;
  --color-darkGray : #9CA3AF;
  --color-darkBlack : #0C0D10;
  --font-oswald: var(--next-font-oswald), sans-serif;
  --font-inter: var(--next-font-inter), sans-serif;
}
